{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">About us</h1>
    <p class="lead">this site provide to to the bitcoin mining free software to use that and mining the bitcoin .</p>
    <hr class="my-4">
    <p>also provide the the information about the bitcoin mining and all support by our team any body contact us and we porvide solution of your problem.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
{% endblock body %}
