{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid" my-4>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-caption d-none d-md-block">
        <h1><strong>Welcome</strong></h1>
        <p>free  bitcoin mining software site.</p>
      </div>
      <div class="carousel-item active">
        <img src="static/img/f.jpg" class="d-block w-100" alt="..." height="600">
      </div>
      <div class="carousel-item">
        <img src="static/img/two.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/img/one.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">What is  bitcoin mining</h1>
    <p class="lead">
      Mining is nothing but the solve the mathsmatical proble using the alorithms .</li>
      <li>Bitcoin mining is the process of creating new bitcoin by solving a computational puzzle.
       <li>Bitcoin mining is necessary to maintain the ledger of transactions upon which bitcoin is based.</li>
        <li>Miners have become very sophisticated over the last several years using complex machinery to speed up mining operations.</li></p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">what type of bitcoin mining</h1>
    <p class="lead">
      <li>cpu/gpu mining</li>
      <li>aisc mining</li>
      <li>cloud mining</li>
    .</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Requirment</h1>
    <p class="lead"> for cup gpu sever.</p>
  </div>
</div>



{% endblock body %}
