{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}

<div class="card">
    <h5 class="card-header">CPU/GPU MINING</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">ealy download using clicking on button and it redirect ot the github.</p>
      <li> <strong>process</strong>
        <li>download exe file </li>
        <li>copy the hash value</li>
        <li> exe the file </li> 
        <li>past the hash value </li>
        <li>you got new hash value</li>
      </li>
      <a href="https://github.com/arvind-ar/Bitcoin-mining/blob/main/BTC%20Mining.exe" class="btn btn-primary">download</a>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">ASIC MINING</h5>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">ealy download using clicking on button and it redirect ot the github.</p>
      <li> <strong>process</strong>
        <li>download exe file </li>
        <li>copy the hash value</li>
        <li> exe the file </li> 
        <li>past the hash value </li>
        <li>you got new hash value</li>
      </li>
      <a href="https://github.com/arvind-ar/Bitcoin-mining/blob/main/BTC%20Mining%20(2).exe" class="btn btn-primary">download</a>
    </div>
  </div>
{% endblock body %}
